.btn {
    --bs-btn-line-height: 1.5
}

.zbtn, .zbtn:disabled {
    background: var(--button_bg);
    color: var(--button_color);
}

.zbtn:hover, .zbtn:focus {
    background: var(--button_bg_hover);
    color: var(--button_color);
}

.zbtn-outline {
    background: transparent;
    border-color: var(--button_bg);
    color: var(--button_bg);
}

.zbtn:focus, .zbtn-outline:focus, .zinput:focus, .zcheck_box:focus {
    box-shadow: 0 0 1px 4px var(--input-ring-color);
}

.zbtn-outline:hover, .zbtn-outline:focus {
    background: var(--button_bg_hover);
    color: var(--button_color);
}

.zpanel {
    background: var(--panel_bg) !important;
    color: var(--text_color)  !important;
    border-color: var(--border_color)  !important;
}

.deactive_zbtn {
    background: transparent;
    color: var(--text_color);
}

.deactive_zbtn:hover, .deactive_zbtn:focus {
    background: transparent;
    color: var(--button_bg_hover);
}

.zcheck_box:checked {
    background-color: var(--button_bg);
    border-color: var(--button_bg);
}

.zcheck_box {
    background-color: transparent;
}

.zcheck_box:focus {
    border-color: var(--button_bg);
    /* box-shadow: 0 0 10px 1px var(--button_bg_hover); */
}

.zinput{
    background: var(--panel_bg);
    color: var(--text_color);
    border-color: var(--border_color);
    font-size: 13px !important;
    transition-duration: 0.3s;
}

.zinput:disabled {
    background: var(--border_color);
    color: var(--text_color);
    border-color: var(--border_color);
    opacity: 0.5;
    font-size: 13px !important;
}

.zinput option, .zoption {
    background: var(--panel_bg);
    color: var(--text_color);
    font-size: 13px !important;
}

.zoption:hover, .selected_zoption {
    background: var(--button_bg);
    color: var(--button_color);
}

.zinput::placeholder {
    color: var(--border_color);
}

/* .zinput: {
    color: var(--border_color);
} */

.zinput:focus {
    background: var(--panel_bg);
    border-color: var(--button_bg);
    /* box-shadow: 0 0 2px 4px var(--input_ring); */
    /* background: var(--panel_bg); */
    color: var(--text_color);
}

.zinput:hover, input:hover {
    background-color: var(--input-ring-color) !important;
}

input:focus {
    outline: none !important;
}

tr, td, th, thead, tbody, table {
    background: transparent !important;
    color: var(--text_color) !important;
}

thead {
    font-weight: bolder;
}

td, th, thead, tr {
    border: none !important;
}





.z-add-btn {
    background: transparent;
    border: 1px solid var(--border_color) !important;
    color: var(--border_color);
    padding: 4px 8px;
}

.z-add-btn:hover, .z-add-btn:focus {
    box-shadow: 0 0 1px 4px var(--border_color);
    /* border: 3px solid var(--border_color) !important; */
}

/** zewd animation classes **/

.z-anm-scale-up {
    animation: scale_up 0.3s ease-in 0s 1 normal forwards;
    transition-duration: 0.3s;
}

.z-anm-scale-down {
    animation: scale_down 0.3s ease-in 0s 1 normal forwards;
    transition-duration: 0.3s;
}

.z-anm-slide-in-left {
    animation: slide_in_left 0.3s ease-in 0s 1 normal forwards;
    transition-duration: 0.3s;
}

.z-anm-slide-in-right {
    animation: slide_in_right 0.3s ease-in 0s 1 normal forwards;
    transition-duration: 0.3s;
}

.z-anm-slide-out-left {
    animation: slide_out_left 0.3s ease-in 0s 1 normal forwards;
    transition-duration: 0.3s;
}

.z-anm-slide-out-right {
    animation: slide_out_right 0.3s ease-in 0s 1 normal forwards;
    transition-duration: 0.3s;
}

.z-anm-slide-in-up {
    animation: slide_in_up 0.3s ease-in 0s 1 normal forwards;
    transition-duration: 0.3s;
}

.z-anm-slide-in-down {
    animation: slide_in_down 0.3s ease-in 0s 1 normal forwards;
    transition-duration: 0.3s;
}

.z-anm-slide-out-down {
    animation: slide_out_down 0.3s ease-in 0s 1 normal forwards;
    transition-duration: 0.3s;
}

.z-anm-slide-out-up {
    animation: slide_out_up 0.3s ease-in 0s 1 normal forwards;
    transition-duration: 0.3s;
}

.z-scale-up-hover:hover {
    animation: scale_up 0.3s linear 0s 1 normal forwards;
    transition-duration: 0.2s;
}


/** zewd animations **/

@keyframes scale_up {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes scale_down {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

@keyframes slide_in_left {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    10% {
        opacity: 1;
        transform: translateX(-40%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide_in_right {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    10% {
        opacity: 1;
        transform: translateX(40%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide_out_left {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    90% {
        opacity: 1;
        transform: translateX(-40%);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}
@keyframes slide_out_right {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    90% {
        opacity: 1;
        transform: translateX(40%);
    }
    100% {
        opacity: 0;
        transform: translateX(50%);
    }
}

@keyframes slide_in_up {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    10% {
        opacity: 1;
        transform: translateY(-40%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide_in_down {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    10% {
        opacity: 1;
        transform: translateY(40%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide_out_down {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(40%);
    }
    100% {
        opacity: 0;
        transform: translateY(50%);
    }
}

@keyframes slide_out_up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(-40%);
    }
    100% {
        opacity: 0;
        transform: translateY(-50%);
    }
}